{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './CSS/classroom.css' %}">
</head>
<body>
   <section>
    <div class="header">
        <div class="head">
            <h1>: : <span>C</span>lass<span>R</span>oom : :</h1>
        </div>
    </div>
    <div class="subject">
        <div class="course">
            <div class="red">  
                <div class="grid-container">
                    <a href="/media/PDF_File/Calcutta_Institute_of_Technology.pdf"><div class="grid-item">BENGALI</div></a>
                    <div class="grid-item">HINDI</div>
                    <div class="grid-item">ENGLISH</div>
                    <div class="grid-item">ODIA</div>
                    <div class="grid-item">TAMIL</div>
                    <div class="grid-item">MALAYALM</div>
                    <!-- <div class="grid-item">CLASS-7</div> 
                    <div class="grid-item">CLASS-8</div>
                    <div class="grid-item">CLASS-9</div>
                    <div class="grid-item">CLASS-10</div> -->
              </div>
            </div>
        </div>

        <div class="course">
            <div class="blue">  
                <div class="grid-container">
                    <div class="grid-item">BENGALI</div>
                    <div class="grid-item">HINDI</div>
                    <div class="grid-item">ENGLISH</div>
                    <div class="grid-item">ODIA</div>
                    <div class="grid-item">TAMIL</div>
                    <div class="grid-item">MALAYALM</div>
                    <!-- <div class="grid-item">URDHU</div>
                    <div class="grid-item">FRENCH</div>
                    <div class="grid-item">SPANISH</div>
                    <div class="grid-item">ARABI</div> -->
                </div>
            </div>
        </div>

        <div class="course">
        <div class="green">  
            <div class="grid-container">
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <!-- <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div>
                <div class="grid-item">CLASS</div> -->
              </div>
        </div>
    </div>    
    </div>
   </section>
</body>
</html>