{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './CSS/course.css' %}">
</head>
<body>
    <header>
        <h1>Hello Milan</h1>
    </header>

    <section>
        <div class="course">  
            <div class="grid-container">
            <a href="classroom1"><div class="grid-item"><b>LANGUAGES</b></div></a>
            <a href="intermediate"><div class="grid-item"><b>INTERMEIDIATE SCHOOL</b></div></a>
            <a href="higher"><div class="grid-item"><b>HIGHER SECONDARY</b></div></a>
            <a href="college"><div class="grid-item"><b>COLLEGE</b></div></a>
            <a href="literature"><div class="grid-item"><b>LITERATURE</b></div></a>
            <a href="story"><div class="grid-item"><b>STORY BOOKS</b></div></a>
            <a href="indianlaw"><div class="grid-item"><b>INDIAN LAWS</b></div></a>
            <a href="yoga"><div class="grid-item"><b>YOGA</b></div></a>
            <a href="spiritual"><div class="grid-item"><b>SPIRITUAL BOOKS</b></div></a>
            <a href="diploma"><div class="grid-item"><b>DIPLOMA COURSE</b></div></a>
        </div>
    </section>
</body>
</html>