{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './CSS/home.css' %}">
</head>
<body>
    <header>
        <a href="#" class="logo">Books<span>.</span></a>
        <ul class="navigation">
            <li><a href="#banner">Home</a></li>
            <li><a href="#banner">About Us</a></li>
            <li><a href="#banner">Contacts</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
    </header>
    <section class="banner" id="banner">
        <div class="content">
            <h1>Online Library</h1>
            <a href="{% url 'login' %}" class="btn">Clasroom</a>
        </div>
    </section>

    <!-- <section class="about" id="about">
        <div class="row">
            <div class="col50">
                <h1 class="titleText"><span>A</span>bout Us</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores tempora magni fugit dolores quasi quae, aspernatur commodi? Expedita, illo. Aspernatur exercitationem corrupti dolores repudiandae voluptatibus earum quod id voluptatem voluptatum.</i></p>
            </div>
        </div>
    </section> -->

    <!-- <section class="contact" id="contact">
        <div class="title">
            <h1 class="titleText"><span>C</span>ontact Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="contactForm">
            <h3>Send Message</h3>
            <div class="inputBox">
                <input type="text" placeholder="Name">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Email">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Phone Number">
            </div>
            <div class="inputBox">
                <textarea placeholder="Address"></textarea>
            </div>
            <div class="inputBox">
                <input type="submit" value="Send">
            </div>
        </div>
    </section> -->

    <script type="text/javascript">
        window.addEventListener('scroll', function()
        {
            const header = document.querySelector('header');
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script>

</body>
</html>