{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './CSS/intermediate.css' %}">
</head>
<body>
    <div class="header">
        <h1>: : <span>C</span>lass<span>R</span>oom : :</h1>
    </div>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <a href="./media/PDF_File/Bangla.alphabet.VidyaSagar.pdf"><img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div></a>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="{% static './IMG/BG.jpg' %}">
            </div>
            <div class="content">
                <div class="bookName">
                    <h3>Java Programming</h3>
                    <h4>By Denials Ling</h4>
                </div>
                <div class="rating">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                    <img src="{% static './IMG/star-solid.svg' %}">
                </div>
            </div>
        </div>
    </div>
</body>
</html>