@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: rgb(129, 247, 217);
}
.grid-container 
{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    text-align: center;
}
.grid-container .grid-item
{
    padding: 15px 0 15px;
    border-radius: 5px;
    background: rgb(21, 236, 14);
}
a
{
    text-decoration: none;
}
